/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/barlow.woff2') format('woff2');
}
/* Barlow bold */
@font-face {
  font-family: 'Barlow-bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Barlow-Bold.ttf') format('TrueType');
}

:root{
    --primary-color: #E81D4F;
    --secondary-color: #041E37;
    --transparent-background: rgba(255, 255, 255, 0.1);
    --page-padding: 6%;
    --card-padding: 2%;
    --barlow-bold: 'Barlow-bold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #555555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header .header-top {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: var(--secondary-color);
}

.header-social-text {
    display: flex;
    gap: 20px;
}

.header-social-text a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
}
.header-social-text hr {
    height: 55%;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-social-icons {
    display: flex;
    gap: 8px;
}

.header-social-icons a {
    padding: 7px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.header-social-icons a:hover {
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

.header-bottom {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    flex-wrap: nowrap;
}

.header-bottom .nav-links {
    list-style: none;
}

.nav-links .nav-link {
    display: inline-block;
    position: relative;
}

.nav-links .nav-link a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Barlow-bold', sans-serif;
    color: var(--secondary-color);
}

.nav-links .header-btn-contact {
    padding: 8px 8px 8px 18px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px gray;
    margin-left: 70px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.arrow-in-header-button {
    vertical-align: middle;
    height: 30px;
    margin-left: 10px;
}

.nav-links .header-btn-contact:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
    color: white;
}

.nav-links a:hover {
    color: var(--primary-color);
}

#header-2 .bottom-bar {
    background: white;
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom-bar-nav-link {
    width: 100%;
    list-style: none;
    padding-bottom: 20px;
}

.bottom-bar-nav-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.header-hamburger {
    display: none;
}

@keyframes header-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.scrolled-bottom-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 1px 1px 8px 0px gray;
    animation: header-down 0.5s;
}

/*                  Footer              */


*{
    list-style: none;

}


/* first section */

footer{
    background: var(--secondary-color);
    padding-bottom: 0;
    position: sticky;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--page-padding);
    gap: 20px;
    font-family: 'Barlow';
    background: #041e37;
    margin-bottom: 0;
}

/* first section */

.driv-line{
    background: #041e37;
    height: 500px;
    width: 350px;
    color: #ffffff;
}

.driv-line .dri{
    line-height: 2;
}

.driv-line .driv span{
    color: #e9174e;
}


.driv-line .driv{
    color: #ffffff;
    font-size: 35px;
}

.footer .driv-line .loc{
    padding: 0px;
    color: #ffffff;
    line-height: 2;
}

.loc li .f{
    margin-right: 10px;
    color: #e9174e;
}

.media{
    display: flex;
    gap: 20px;
    padding: 0;
}

.media .media-icon{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-top: 10px;
    background: #e9174e;
    border-radius: 50%;
    transition: .5s;
}

.media .media-icon:hover{
    background: #ffffff;
    color: #e9174e;
}

.media .media-icon a .s{
    color: #ffffff;
    width: 50%;
    height: 50%;
    transition: .5s;
}

.media .media-icon a .s:hover{
    color: #e9174e;
}


/* second section  */

.quick-link{
    background: #041e37;
    height: 500px;
    width: 300px;
}

.q-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 35px;
}

.ql{
    padding: 0;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 2;
}

/* mod */

.ql .q-li a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: 7px;
    transition: .5s;
}
.q-li a:hover{
    transform: translateX(5px);
    color: #e9174e;
}

/* mod */

 /* third section  */

.course-link{
    background: #041e37;
    height: 500px;
    width: 300px;
    text-transform: capitalize;
    text-transform: capitalize;
}
.c-link{
    color: #ffffff;
    font-size: 35px;
}

.cl{
    padding: 0;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 2;
}


/* mod */
.cl .c-li a{
    color: #ffffff;
    margin-bottom:4px ;
    text-decoration: none;
    transition: .5s;
    display: flex;
    gap: 7px;
}

.c-li a:hover{
    color: #e9174e;
    transform: translateX(5px);
}

/* mod */

 /* fourth section */
.newslet{
    background: #041e37;
    height: 500px;
    width: 300px;
    text-transform: capitalize;
    color: #ffffff;
}

.newslet .t-news{
    line-height: 2;
}

.newslet form input{
    width: 250px;
    height: 50px;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: #041e37;
    margin-bottom: 30px;
}

.newslet form .btn{
    width: 180px;
    height: 50px;
    padding-top: 25px;
    background: #e9174e;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: 10px;
    transition: .5s;
}

.newslet form .btn:hover{
    background: #ffffff;
    color: #041e37;
}



/* Copyright */ 

.copyriht{
    display: flex;
    justify-content: space-between;
    padding:30px;
    margin:30px;
    background: #041e37;
    font-family: 'Barlow';
    border-top: 1px solid grey;
}

.copy .t-copy{
    color: #ffffff;
}

.copy .t-copy span{
    color: #e9174e;
    font-weight: bold;
}

.copyriht .privacy{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.copyriht .privacy a{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.copyriht .privacy a:hover{
    color: #e9174e;
}


/*                  End Footer          */

/*                 Main Style             */
body {
    font-family: 'barlow' sans-serif;
    background-color: linear-gradient(to right,#f3faff,#e8f0ff);
    margin: 0;
    padding: 0;
    font-size: 16px;
}
 .description p{
    color: white;
    font-size: 1.5rem;
    font-family: 'Barlow';
 }
.header-accueil{
    text-align: center;
    color: #E81D4F;;
    padding: 4rem 1rem;
    background-image: url(../images/02.jpg);
    background-position: 0 0;
    background-size: auto 100% ;
    height: 70vh;
    animation: scroll-bg 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.home-link:hover {
  color: #E81D4F;;
}

.home-img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
/*animation de defilement horizontal */
@keyframes scroll-bg{
    0%{
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}
.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.search-bar{
    text-align: center;
    margin-top: 1rem;
}
#search-input{
    padding: 0.7rem 1rem;
    width: 80%;
    max-width: 400px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
 .news-card {
    background-color: #041E37;
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: trasform 0.3s ease;
 }
  .read-more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#E81D4F;
  color: white;
  border-radius: 3px;
  padding: 1px 3px;
  width: 160px; /* ← fixe la largeur pour que la flèche soit poussée */
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.read-more-btn:hover {
  background-color:#124b95;
}
.btn-text {
  margin-left: 10px;
 margin-top: 40px;
  font-size: 15px;
  color: white;
}
.circle-arrow {
  background: white;
  color: #bb1841;;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 5px;
}

.news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.news-card:hover img {
    transform: scale(1.05);
}
.news-card .content {
padding: 1rem;
}
.news-card h3 {
    margin-top: 0;
    color: #0077b6;
    font-size: 30px;
    font-family: 'Barlow';
}
.news-card p{
    color: white;
}
.news-card .date {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.news-card button {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
.news-card button:hover {
    background-color: #0096c7;
}
.controls{
    text-align: center;
    margin-bottom: 2rem;
}
.controls button {
padding: 0.7rem 1.5rem;
font-size: 1rem;
background-color: #023e8a;
color: white;
border: none;
border-radius: 5px;
margin: 0.1rem;
cursor: pointer;
}
.controls button:hover{
    background-color: #0466c8;
}

.news-card a{
    color: inherit;
    text-decoration: none;
    display: block;
}
.news-card a:hover h3{
text-decoration: underline;
}
 /* page Detail  */
 .detail-page{
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background: #041E37;
    border-radius: 10px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
 }
 .detail-page img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
 }
 .detail-page h3{
    color: #d01d4a;;
    margin-bottom: 0.5rem;
 }
 .detail-page .date {
color: #777;
margin-bottom: 1rem;
 }
.detail-page p{
    line-height: 1.6;
    font-size: 1.05rem;
}
.back-btn{
    display: inline-block;
margin-top: 2rem;
padding: 0.6rem 1.2rem;
background-color: #0077b6;
color: white;
border-radius: 5px;
text-decoration: none;
}
.back-btn:hover{
    background-color: #023e8a;
}
/*                  End Main                */

@media screen and (max-width: 881px) {
    #header .header-top {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .header-hamburger {
        display: flex;
    }
}

@media(max-width:768px){
    .news-card{
        width: 90%;
    }

    /*              Footer                                  */
    .footer{
        display: block;
        flex-direction: column;
        padding: var(--page-padding);
    }



    /* first section */

.driv-line{
    background: #041e37;
    height: 29rem;
    width: 18rem;
    color: #ffffff;
}

.driv-line .dri{
    line-height: 2;
}

.driv-line .driv span{
    color: #e9174e;
}


.driv-line .driv{
    color: #ffffff;
    font-size: 2.1875rem;
}

.loc{
    padding: 0px;
    color: #ffffff;
    line-height: 2;
}

.loc li i{
    margin-right: .6rem;
    color: #e9174e;
}

.media{
    display: flex;
    gap: 1.25rem;
    padding: 0;
}

.media .media-icon{
    height: 1.8rem;
    width: 1.8rem;
    padding-left: 10px;
    padding-top: .6rem;
    background: #e9174e;
    border-radius: 50%;
    transition: .5s;
}

/* second section */


.quick-link{
    background: #041e37;
    height: 28rem;
    width: 18,75rem;
}

.q-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 2,18rem;
}


/* mod */

.ql .q-li a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: .4rem;
    transition: .5s;
}


/* mod */

 /* third section  */

.course-link{
    background: #041e37;
    height: 28rem;
    width: 18,75rem;

}
.c-link{
    color: #ffffff;
    font-size: 2rem;
}




/* mod */
.cl .c-li a{
    color: #ffffff;
    margin-bottom: .25rem ;
    text-decoration: none;
    transition: .5s;
    display: flex;
    gap: .4rem;
}

.c-li a:hover{
    color: #e9174e;
    transform: translateX(.31rem);
}

/* mod */

 /* fourth section */
.newslet{
    background: #041e37;
    height: 24rem;
    width: 18.75rem;
    text-transform: capitalize;
    color: #ffffff;
}

.newslet .t-news{
    line-height: 2;
}

.newslet form input{
    width: 15.635rem;
    height: 3.12rem;
    color: #ffffff;
    border: .12rem solid #ffffff;
    background: #041e37;
    margin-bottom: 1.87rem;
}

.newslet form .btn{
    width: 11rem;
    height: 2.12rem;
    padding-top: .56rem;
    background: #e9174e;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: .6rem;
    transition: .5s;
}


/* Copyright */ 

.copyriht{
    display: block;
    flex-direction: column;
    padding:.625rem;
    margin:.625rem;
    background: #041e37;
    font-family: 'Barlow';
    border-top: .06rem solid grey;
}




.copyriht .privacy{
    display: block;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.copyriht .privacy a{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
    margin: .62rem;
}
    /*                  End Footer                              */
}