/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/barlow.woff2') format('woff2');
}

:root{
    --primary-color: #E81D4F;
    --secondary-color: #041E37;
    --transparent-background: rgba(255, 255, 255, 0.2);
    --page-padding: 4%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header .header-top {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: var(--secondary-color);
}

.header-social-text {
    display: flex;
    gap: 20px;
}

.header-social-text a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
}
.header-social-text hr {
    height: 55%;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-social-icons {
    display: flex;
    gap: 8px;
}

.header-social-icons a {
    padding: 7px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.header-social-icons a:hover {
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

#header .header-bottom {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header-bottom .nav-links {
    list-style: none;
}

.nav-links .nav-link {
    display: inline-block;
    position: relative;
}

.nav-links .nav-link a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    color: var(--secondary-color);
}

.nav-links .header-btn-contact {
    padding: 14px 8px 14px 18px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px gray;
    margin-left: 70px;
    font-weight: 700;
}


.arrow-in-header-button {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    padding-top: 0;
    margin-left: 10px;
    color: var(--primary-color);
}

.nav-links .header-btn-contact:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.nav-links .header-btn-contact:hover .arrow-in-header-button {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links a:hover .header-plus-sign {
    display: none;
}

.header-minus-sign {
    display: none;
}

.nav-links a:hover .header-minus-sign {
    display: inline;
}

#header .scrolled-top-header {
    display: none;
}

.scrolled-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header .bottom-bar {
    background: white;
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom-bar-nav-link {
    width: 100%;
    list-style: none;
    padding-bottom: 20px;
}

.bottom-bar-nav-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.header-hamburger {
    display: none;
}

/*                 Main Style             */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
  }
  
  h1, h3, h4, h5,h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 100px;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    
  }



  .banniere {
    position: relative;
    margin-bottom: 30px;
    justify-content: center;
    height: 500px;
  }
  
  .banniere img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    height: 100%;
    display: flex;
  }
  
  .texte-banniere {
    position: relative;
    font-weight: bold;
    text-align: center;
    bottom: 50%;
    color:white;
  }
  .texte-banniere p {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    text-align: center;
    
    font-family: Helvetica, sans-serif;
    
  }  


/* À propos */
.about-section {
    padding: 4rem 1rem;
    display: flex;
  align-items: center;
  padding: 4rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
  }
  .about-container {
    max-width: 45%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .about-text {
    flex: 1;
    margin-left: -2rem;
  }
  .about-text P{
    line-height: 2rem ;

  }

  .about-text h4, h3 {
    margin-bottom: 1rem;
    text-align: left;
  }
  .about-image {
    flex: 1;
    max-width: 55%;
  }
  .about-image img {
    max-width: 100%;
    max-width: 600px;
    position: relative;
    width: 100%;
    overflow: hidden;
  
  }
  ul.av li {
    line-height:2rem;
    text-align: justify;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

.material-symbols-outlined {
  color: #E81D4F;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 28
}

.stats {
    background:#E81D4F; /* fond rose avec transparence */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 10rem;
  }
  
  .stat-box {
    text-align: center;
    padding: 1rem;
    width: 200px;
  }
  
  .icon {
    background: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .material-symbols-outlined {
    color: #E81D4F; 
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 40;
  }
  
  .stat-box h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  
  .stat-box p {
    font-size: 1rem;
    margin: 0;
}

.carousell {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 30rem ;
    margin-bottom: 6rem;
    gap: 5rem;
    width: 100%;
    padding-top: 4rem;
    
  }
  
  
  
  .carousel-trackk {
    display: flex;
    width: calc(100% * 6); /* 5 images */
    animation: scroll 100s linear infinite;
  
  }
  
  .caroussel-text {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    height: 5rem ;
    width: 100%;
    left: 50%;
    
  }

  .carousel-trackk img {
    width: 100%;
    flex-shrink: 0;
    max-width: 500px;
    margin: 8rem;
    border-radius: 30px;
  }
  
  .carousel-trackk:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-500%); } /* -100% * (nb d'images - 1) */
  }
  

  
  .teams-section {
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    padding: 4rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
 
  }
  
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .team-card {
    width: 220px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .team-card:hover {
    transform: translateY(-5px);
  }
  
  .img-box {
    width: 100%;
    height: 260px;
    overflow: hidden;
  }
  
  .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .team-card:hover .img-box img {
    transform: scale(1.05);
  }
  
  .info {
    text-align: center;
    padding: 15px;
  }
  
  .info h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #333;
  }
  
  .info p {
    margin: 0;
    color: gray;
    font-size: 14px;
  }
  
  .social-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #d23c50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.4s ease;
  }
  
  .team-card:hover .social-icon {
    opacity: 1;
    transform: scale(1);
  }
  
  .social-icon i {
    font-size: 18px;
  }















































































































/*                  End Main                */

@media screen and (max-width: 881px) {
    #header .header-top {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .header-hamburger {
        display: flex;
    }
}