/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/barlow.woff2') format('woff2');
}
/* Barlow bold */
@font-face {
  font-family: 'Barlow-bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Barlow-Bold.ttf') format('TrueType');
}

:root{
    --primary-color: #E81D4F;
    --secondary-color: #041E37;
    --transparent-background: rgba(255, 255, 255, 0.1);
    --page-padding: 6%;
    --card-padding: 2%;
    --barlow-bold: 'Barlow-bold', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #555555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header .header-top {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: var(--secondary-color);
}

.header-social-text {
    display: flex;
    gap: 20px;
}

.header-social-text a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
}
.header-social-text hr {
    height: 55%;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-social-icons {
    display: flex;
    gap: 8px;
}

.header-social-icons a {
    padding: 7px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.header-social-icons a:hover {
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

.header-bottom {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    flex-wrap: nowrap;
}

.header-bottom .nav-links {
    list-style: none;
}

.nav-links .nav-link {
    display: inline-block;
    position: relative;
}

.nav-links .nav-link a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Barlow-bold', sans-serif;
    color: var(--secondary-color);
}

.nav-links .header-btn-contact {
    padding: 8px 8px 8px 18px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px gray;
    margin-left: 70px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.arrow-in-header-button {
    vertical-align: middle;
    height: 30px;
    margin-left: 10px;
}

.nav-links .header-btn-contact:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
    color: white;
}

.nav-links a:hover {
    color: var(--primary-color);
}

#header-2 .bottom-bar {
    background: white;
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom-bar-nav-link {
    width: 100%;
    list-style: none;
    padding-bottom: 20px;
}

.bottom-bar-nav-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.header-hamburger {
    display: none;
}

@keyframes header-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.scrolled-bottom-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 1px 1px 8px 0px gray;
    animation: header-down 0.5s;
}

/*                  Footer              */


*{
    list-style: none;

}


/* first section */

footer{
    background: var(--secondary-color);
    padding-bottom: 0;
    position: sticky;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--page-padding);
    gap: 20px;
    font-family: 'Barlow';
    background: #041e37;
    margin-bottom: 0;
}

/* first section */

.driv-line{
    background: #041e37;
    height: 500px;
    width: 350px;
    color: #ffffff;
}

.driv-line .dri{
    line-height: 2;
}

.driv-line .driv span{
    color: #e9174e;
}


.driv-line .driv{
    color: #ffffff;
    font-size: 35px;
}

.footer .driv-line .loc{
    padding: 0px;
    color: #ffffff;
    line-height: 2;
}

.loc li .f{
    margin-right: 10px;
    color: #e9174e;
}

.media{
    display: flex;
    gap: 20px;
    padding: 0;
}

.media .media-icon{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-top: 10px;
    background: #e9174e;
    border-radius: 50%;
    transition: .5s;
}

.media .media-icon:hover{
    background: #ffffff;
    color: #e9174e;
}

.media .media-icon a .s{
    color: #ffffff;
    width: 50%;
    height: 50%;
    transition: .5s;
}

.media .media-icon a .s:hover{
    color: #e9174e;
}


/* second section  */

.quick-link{
    background: #041e37;
    height: 500px;
    width: 300px;
}

.q-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 35px;
}

.ql{
    padding: 0;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 2;
}

/* mod */

.ql .q-li a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: 7px;
    transition: .5s;
}
.q-li a:hover{
    transform: translateX(5px);
    color: #e9174e;
}

/* mod */

 /* third section  */

.course-link{
    background: #041e37;
    height: 500px;
    width: 300px;
    text-transform: capitalize;
    text-transform: capitalize;
}
.c-link{
    color: #ffffff;
    font-size: 35px;
}

.cl{
    padding: 0;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 2;
}


/* mod */
.cl .c-li a{
    color: #ffffff;
    margin-bottom:4px ;
    text-decoration: none;
    transition: .5s;
    display: flex;
    gap: 7px;
}

.c-li a:hover{
    color: #e9174e;
    transform: translateX(5px);
}

/* mod */

 /* fourth section */
.newslet{
    background: #041e37;
    height: 500px;
    width: 300px;
    text-transform: capitalize;
    color: #ffffff;
}

.newslet .t-news{
    line-height: 2;
}

.newslet form input{
    width: 250px;
    height: 50px;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: #041e37;
    margin-bottom: 30px;
}

.newslet form .btn{
    width: 180px;
    height: 50px;
    padding-top: 25px;
    background: #e9174e;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: 10px;
    transition: .5s;
}

.newslet form .btn:hover{
    background: #ffffff;
    color: #041e37;
}



/* Copyright */ 

.copyriht{
    display: flex;
    justify-content: space-between;
    padding:30px;
    margin:30px;
    background: #041e37;
    font-family: 'Barlow';
    border-top: 1px solid grey;
}

.copy .t-copy{
    color: #ffffff;
}

.copy .t-copy span{
    color: #e9174e;
    font-weight: bold;
}

.copyriht .privacy{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.copyriht .privacy a{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.copyriht .privacy a:hover{
    color: #e9174e;
}


/*                  End Footer          */

/*                 Main Style             */

  
  h1, h3, h4, h5,h6 {
    font-family: var(--barlow-bold);
    font-size: 1.6rem;
    text-align: center;
    line-height: 3rem;
    
  }
  h4, h5{
    font-size: 2rem;
  
  }


  .banniere {
    position: relative;
    margin-bottom: 30px;
    justify-content: center;
    height: 500px;
  }
  
  .banniere img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    height: 100%;
    display: flex;
  }
  
  .texte-banniere {
    position: relative;
    text-align: center;
    bottom: 50%;
    color:white;
    line-height: 0.5rem;
  }
  .texte-banniere p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    
  }  

  .texte-banniere h1 {
    font-size: 1.6rem;
  }  

  .btn {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    color: white;
}

.btn:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
}



/* À propos */
.index-about {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8%;
  margin-bottom: 2%;
  gap: 1%;
  padding-bottom: 10%;
  
}

.index-left-about {
  flex: 1 1 calc(50% - var(--page-padding));
  position: relative;
  overflow: hidden;
  
}

.index-left-about-shape-1 {
  width: 100%;
  height: 98%;
  position: relative;
}

.index-about-trapezoid {
  width: 100%;
  height: 98%;
  background: #e81d4f;
  clip-path: polygon(0 0, 30% 0%, 50% 100%, 0% 100%);

}

.index-about-left-image {
  transform: translate(3%, -103%);
  width: 100%;
  max-width: 500px;
  margin-top: -3%;
  left: 4%;
  position: relative;
}

.index-about-bottom-shape {
  height: 40%;
  position: absolute;
  bottom: 3%;
  right: 2%;
  z-index: -1;

}

.index-about-experience-wrapper {
  text-align: center;
  background: #e81d4f;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  left: 7%;
 
}

.index-about-experience {
  padding: 40px 10px;
  margin: 5px;
  border: 2px dashed white;
  border-radius: 50%;
  position: relative;
}

.index-about-experience .text-1 {
  font-family: 'Barlow-bold', sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: white;
  bottom: -8%;
  left: 4% ;
  position: relative;
}
.index-about-experience .text-2 {
  font-size: 18px;
  color: white;
  font-weight: 100;
}

.index-left-about-shape-2{
  width: 10%;
  height: 10%;
  position: absolute;
  bottom: 30%;
  left: 83%;
  z-index: -1;
}

.index-right-about {
  flex: 1 1 calc(50% - var(--page-padding));
  width: 100%;
  height: 87%;
  position: relative;
  bottom: 10%;
}

.index-about-title {
  font-size: 18px;
  color: var(--primary-color);
  font-family: 'Barlow-bold', sans-serif;
  font-weight: 400;
  text-align: left;
}

.index-about-subtitle {
  font-family: 'Barlow-bold', sans-serif;
  font-size: 48px;
  font-weight: 300;
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.index-about-subtitle-primary {
  color: var(--primary-color);
}

.index-about-p {
  margin-top: 5%;
  line-height: 1.8rem;
  text-align: left;
}

.index-about-check-p {
  display: inline-block;
  line-height: 1.8rem;
  width: 100%;
}

.index-check {
  color: var(--primary-color);
  height: 22px;
  vertical-align: middle;
  margin-right: 2%;
}

.index-about-phone {
  margin-top: 5%;
  display: inline-block;
  width: 100%;
}

.index-about-phone-icon {
  height: 30px;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
  color: white;
  vertical-align: middle;
  margin-right: 3%;
}

.index-about-phone-number {
  font-size: 28px;
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Barlow-bold', sans-serif;
  font-weight: 400;
}

.index-about-link {
  display: inline-block;
  margin-top: 2%;
  background-color: var(--primary-color);
  padding: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0px gray;
  transition: all ease-in-out 0.5s;
  position: relative;
  left: 1%;
  
}
.index-about-link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}
.index-about-right-arrow {
  height: 35px;
  vertical-align: middle;
  color: white;
  margin-left: 10px;
  left: -40%
}

.index-about-link:hover{
  background-color: var(--secondary-color);
  transition: all ease-in-out 0.5s;
}



/*****performances et compteur****/

.index-counter {
  position: relative;
  width: 100%;
  /* height: 300px; */
  background-image: url('../images/index-images-shapes/index-image-counter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.index-counter-info {
  /* height: 100%; */
  background: rgb(232, 29, 79, 0.8);
  padding: var(--page-padding) calc(var(--page-padding) * 2) var(--page-padding) calc(var(--page-padding) * 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding-right: var(--page-padding); */
  /* top: 0;
  left: 0; */
}

.index-counter-card{
  flex: 1 1 calc(25% - calc(var(--page-padding) * 2));
  text-align: center;
}

.index-counter-image {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  margin: auto;
  /* margin-left: 25%; */
}

.index-counter-image img {
  width: 60px;
}

.index-counter-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 15%;
}

.index-counter-subtitle {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/***fin perf***/

/**temoignages et caroussel****/

.prim{
  background: #eff2f5;
  padding: var(--page-padding);
  text-align: center;
}

.prim h3, .titulo span{
  color: var(--primary-color);
  font-size: 2rem;
}

.titulo{
  font-size: 2.4rem;
  
}



.slide{
  /* background: #041E37; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 60px;
  width: calc(100% * 3); /* 5 images */
  animation: scroll 40s linear infinite;
  
}


.card{
  background-color: #fff;
  width: 400px;
  height: 300px;
  margin-top: 20px;
  /* box-shadow: ; */
}

.card .img_icon{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card .img_icon img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2.5px dashed var(--primary-color);
  padding: 2px;
  position: absolute;
  left: 300px;
  top: -32px;
}

.img_icon .star {
  margin-top: 20px;
  color: var(--primary-color);
  padding-left: var(--page-padding);
}


.card  .text{
  line-height: 1.3;
  text-align: left;
  margin-top: -20px;
  padding: var(--page-padding);
}


.text .prf{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.text .prf img{
  width: 50px;
  height: 50px;
  
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); } /* -100% * (nb d'images - 1) */
}



  /***equipe****/
  .teams-section {
    padding: 4rem var(--page-padding) 4rem var(--page-padding);
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
    line-height: 1.5rem;
    width: 100%;
 
  }
  
  .team-section h5 {
   position: relative;
   bottom: -25%;
  }

  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 4rem var(--page-padding) 4rem var(--page-padding);
  }
  
  .team-card {
    /*max-width: 300px;*/ 
    flex: 1 1 calc(25% - var(--page-padding));
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    
  }
  
  .team-card:hover {
    transform: translateY(-5px);
  }
  
  .img-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    max-width: 600px;
  }
  
  .img-box img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .team-card:hover .img-box img {
    transform: scale(1.05);
  }
  
  .info {
    text-align: center;
    padding-bottom: 1rem;
    z-index: 1;
    max-width: 200px ;
    width: 100%;
    padding-top: -100%;
  }
  
  .info h3 {
    margin: 0 0 5px;
    font-size: 1.4rem;
    color: #333;
  }
  
  .info p {
    margin: 0;
    color: #E81D4F;
    font-size: 0.9rem;
    text-align: center;
    
  }
  
  .social-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background:#E81D4F;
    color: white;
    padding: 0.8rem;
    z-index: 1;
    max-width: 1rem;
    width: 100%;
    padding-left: 0.9rem;
  }
  

  .fa-share-nodes{
    color: white;
    font-size: 20px;
  }
  

  .gros {
    color: #E81D4F;
  }

  .team-section h6,p {
   text-align: center;
   
  }
 


      /*****responsive******/

  































































































/*                  End Main                */

@media screen and (max-width: 881px) {
    #header .header-top {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .header-hamburger {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        display: block;
        flex-direction: column;
        padding: var(--page-padding);
    }



    /* first section */

.driv-line{
    background: #041e37;
    height: 29rem;
    width: 18rem;
    color: #ffffff;
}

.driv-line .dri{
    line-height: 2;
}

.driv-line .driv span{
    color: #e9174e;
}


.driv-line .driv{
    color: #ffffff;
    font-size: 2.1875rem;
}

.loc{
    padding: 0px;
    color: #ffffff;
    line-height: 2;
}

.loc li i{
    margin-right: .6rem;
    color: #e9174e;
}

.media{
    display: flex;
    gap: 1.25rem;
    padding: 0;
}

.media .media-icon{
    height: 1.8rem;
    width: 1.8rem;
    padding-left: 10px;
    padding-top: .6rem;
    background: #e9174e;
    border-radius: 50%;
    transition: .5s;
}

/* second section */


.quick-link{
    background: #041e37;
    height: 28rem;
    width: 18,75rem;
}

.q-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 2,18rem;
}


/* mod */

.ql .q-li a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: .4rem;
    transition: .5s;
}


/* mod */

 /* third section  */

.course-link{
    background: #041e37;
    height: 28rem;
    width: 18,75rem;

}
.c-link{
    color: #ffffff;
    font-size: 2rem;
}




/* mod */
.cl .c-li a{
    color: #ffffff;
    margin-bottom: .25rem ;
    text-decoration: none;
    transition: .5s;
    display: flex;
    gap: .4rem;
}

.c-li a:hover{
    color: #e9174e;
    transform: translateX(.31rem);
}

/* mod */

 /* fourth section */
.newslet{
    background: #041e37;
    height: 24rem;
    width: 18.75rem;
    text-transform: capitalize;
    color: #ffffff;
}

.newslet .t-news{
    line-height: 2;
}

.newslet form input{
    width: 15.635rem;
    height: 3.12rem;
    color: #ffffff;
    border: .12rem solid #ffffff;
    background: #041e37;
    margin-bottom: 1.87rem;
}

.newslet form .btn{
    width: 11rem;
    height: 2.12rem;
    padding-top: .56rem;
    background: #e9174e;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    gap: .6rem;
    transition: .5s;
}


/* Copyright */ 

.copyriht{
    display: block;
    flex-direction: column;
    padding:.625rem;
    margin:.625rem;
    background: #041e37;
    font-family: 'Barlow';
    border-top: .06rem solid grey;
}




.copyriht .privacy{
    display: block;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.copyriht .privacy a{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
    margin: .62rem;
}
}