/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/barlow.woff2') format('woff2');
}
/* Barlow bold */
@font-face {
  font-family: 'Barlow-bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Barlow-Bold.ttf') format('TrueType');
}

:root{
    --primary-color: #E81D4F;
    --secondary-color: #041E37;
    --transparent-background: rgba(255, 255, 255, 0.2);
    --page-padding: 6%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header .header-top {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: var(--secondary-color);
}

.header-social-text {
    display: flex;
    gap: 20px;
}

.header-social-text a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
}
.header-social-text hr {
    height: 55%;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-social-icons {
    display: flex;
    gap: 8px;
}

.header-social-icons a {
    padding: 7px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.header-social-icons a:hover {
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

#header .header-bottom {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header-bottom .nav-links {
    list-style: none;
}

.nav-links .nav-link {
    display: inline-block;
    position: relative;
}

.nav-links .nav-link a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Barlow-bold', sans-serif;
    color: var(--secondary-color);
}

.nav-links .header-btn-contact {
    padding: 14px 8px 14px 18px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px gray;
    margin-left: 70px;
    font-weight: 700;
}


.arrow-in-header-button {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    padding-top: 0;
    margin-left: 10px;
    color: var(--primary-color);
}

.nav-links .header-btn-contact:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.nav-links .header-btn-contact:hover .arrow-in-header-button {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    color: var(--primary-color);
}

#header .scrolled-top-header {
    display: none;
}

.scrolled-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header .bottom-bar {
    background: white;
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom-bar-nav-link {
    width: 100%;
    list-style: none;
    padding-bottom: 20px;
}

.bottom-bar-nav-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.header-hamburger {
    display: none;
}

/*                 Main Style             */
.swiper {
  width: 100%;
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #eee;
} */
.swiper-slide {
    position: relative;
}

.swiper-slide img{
    width: 100%;
    object-fit: cover;
    position: relative;
}

.swiper-wrapper {
    position: relative;
}

.content-slide {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: var(--page-padding);
     padding-right: var(--page-padding);
    /* backdrop-filter: var(--secondary-color); */
    background: rgb(4, 30, 55, 0.7);
}

.sous-titre{
    width: 55%;
}

.swiper-button-prev, .swiper-button-next{
    color: var(--primary-color);
}

.content-slide .title-slider {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.content-slide .subtitle-slider {
    font-family: 'Barlow-bold', sans-serif;
    font-size: 55px;
    font-weight: 200;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.slider-apply-primary {
    color: var(--primary-color);
}

.content-slide .paragraph-slider {
    font-size: 18px;
    color: white;
    line-height: 2rem;
    margin-top: 0px;
}

.content-slide .slider-buttons {
    display: flex;
    gap: 20px;
}

.content-slide .slider-buttons button{
    padding: 14px 8px 14px 18px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    line-height: 10px;
}

.arrow-in-slider-button {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    padding-top: 0;
    margin-left: 10px;
}
.slider-button-primary .arrow-in-slider-button {
    color: var(--primary-color);
}
.slider-button-secondary .arrow-in-slider-button {
    color: var(--secondary-color);
}

.slider-button-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.slider-button-secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.content-slide .slider-buttons .slider-button-primary:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
}
.content-slide .slider-buttons .slider-button-secondary:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.5s ease-in-out;
}

.content-slide .slider-buttons .slider-button-primary:hover .arrow-in-slider-button {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
}
.content-slide .slider-buttons .slider-button-secondary:hover .arrow-in-slider-button {
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.swiper-slide-active  .content-slide .fadeInUp-title-animation {
    animation: 1s fadeInUp;
}
.swiper-slide-active  .content-slide .fadeInUp-subtitle-animation {
    animation: 1.5s fadeInUp;
    animation-delay: 0.4s;
}
.swiper-slide-active  .content-slide .fadeInUp-paragraph-animation {
    animation: 1.5s fadeInUp;
    animation-delay: 0.6s;
}
.swiper-slide-active  .content-slide .fadeInUp-button-animation {
    animation: 1.5s fadeInUp;
    animation-delay: 0.6s;
}


@media screen and (max-width: 881px) {
    #header .header-top {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .header-hamburger {
        display: flex;
    }
}