/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/barlow.woff2') format('woff2');
}

:root{
    --primary-color: #E81D4F;
    --secondary-color: #041E37;
    --transparent-background: rgba(255, 255, 255, 0.2);
    --page-padding: 4%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header .header-top {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: var(--secondary-color);
}

.header-social-text {
    display: flex;
    gap: 20px;
}

.header-social-text a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
}
.header-social-text hr {
    height: 55%;
    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-social-icons {
    display: flex;
    gap: 8px;
}

.header-social-icons a {
    padding: 7px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.header-social-icons a:hover {
    background: var(--primary-color);
    transition: all 0.5s ease-in-out;
}

#header .header-bottom {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header-bottom .nav-links {
    list-style: none;
}

.nav-links .nav-link {
    display: inline-block;
    position: relative;
}

.nav-links .nav-link a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    color: var(--secondary-color);
}

.nav-links .header-btn-contact {
    padding: 14px 8px 14px 18px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px gray;
    margin-left: 70px;
    font-weight: 700;
}


.arrow-in-header-button {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    padding-top: 0;
    margin-left: 10px;
    color: var(--primary-color);
}

.nav-links .header-btn-contact:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.nav-links .header-btn-contact:hover .arrow-in-header-button {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links a:hover .header-plus-sign {
    display: none;
}

.header-minus-sign {
    display: none;
}

.nav-links a:hover .header-minus-sign {
    display: inline;
}

#header .scrolled-top-header {
    display: none;
}

.scrolled-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header .bottom-bar {
    background: white;
    margin-top: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom-bar-nav-link {
    width: 100%;
    list-style: none;
    padding-bottom: 20px;
}

.bottom-bar-nav-link a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.header-hamburger {
    display: none;
}

/*                 Main Style             */


:root{
  --background-color: #EFF2F5;
}
.a-banniere{
  text-decoration: none;
  color: #fff;
}
.a-banniere:hover{
  color: var(--primary-color);
  transition: color 0.5s ease;
}
h2{
  font-family: 'barlow', sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: 2rem;
}
.banniere{
  position: relative;
  background: url(../images/banniere.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.banniere-texte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}


/*main*/
main{
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 20px;
  padding: 50px 0;
  
}


/*section*/
section{

  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media (min-width: 1024px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  section {
    grid-template-columns: 1fr;
  }
}
.cadre{
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 100px; /* Laisse de la place pour l'image qui dépasse */
  padding-bottom: calc(5% + 20px); /* le padding bottom est egale  à 5% du parent + 20px */
  transition: transform .3s;
  min-height: 400px;
  max-width: 450px;

  border-top: var(--background-color) solid transparent 30px;
}
.cadre:hover {
  transform: translateY(-5px);
}


.cadre-image{
  position: absolute;
  top: -30px; /* fait dépasser l'image */
  width: 200px;
  height: 50%;
  width: 80%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background: #fff;;
}
.cadre-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cadre-cadre2{
  margin-top: auto;
  margin-bottom: 10%;
  padding: 10px;
  text-align: center;
  width: 80%;
  height: 50% /* Ajuste la hauteur pour laisser de la place à l'image */
}
.cadre-cadre2 p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #555;
  margin: 0;
  text-align: left;
}
.cadre-cadre2-infos ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #555;
}
.prix{
  color: var(--primary-color);
}
h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  text-align: left;
}
.titre-h4{
  text-decoration: none;
}
.cadre-cadre2-texte{
  
}
.cadre-cadre2-bas{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-top: #555 solid 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
  width: 100%;
  height: 35%;
}
.cadre-cadre2-bas-infos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-left: 15px;
  padding-left: 0;
  margin-right: auto;
}
.cadre-cadre2-bas-infos p{
  text-align:inherit;
}

h6{
  color: var(--secondary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: auto;

}
.cadre-cadre2-bas img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;

}
.cadre-cadre2-bas a{
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px;
}
.cadre-cadre2-bas a:hover{
  color: #fff;
  background-color: var(--secondary-color);
  transition: background-color 0.5s ease;
}



/*                  End Main                */

@media screen and (max-width: 881px) {
    #header .header-top {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .header-hamburger {
        display: flex;
    }
}